{% extends 'admin/base_site.html' %}
{% load suit_forms %}

{% block content %}
    <h2>New answer</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row edit-row">
            <div class="col-left">
                <fieldset class="suit-form module aligned">
                    {% for field in form %}
                        <div class="form-group row form-row {% if field.field.name %} field-{{ field.field.name }}{% endif %}"
                             {% if field|suit_form_field_widget_class == 'widget-HiddenInput' %}style="display: none"{% endif %}>
                            <label for="{{ field.field.id_for_label }}" class="form-control-label col-xs-12 col-sm-3 col-md-2">{{ field.label_tag }}</label>
                            <div class=" col-xs-12 col-sm-9 col-md-8 col-lg-7 {{ field|suit_form_field_widget_class }}">
                                {{ field }}
                                {% if field.errors and not is_single and not field.is_readonly %}
                                    <div class="text-help">{{ field.errors }}</div>
                                {% endif %}
                                {% if field.help_text %}
                                    <small class="help-text">{{ field.help_text|safe }}</small>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </fieldset>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Answer!</button>
    </form>
{% endblock %}
